<div class="row">
  <div class="col l11 s12">
      <div id="sub-view-header">
        <span class="thin" style="float: left">week <%= subWeekNum + 1 %>: #<%= subNum + 1 %></span>
        <span class="thin" style="float: right"><%= subDate %></span>
      </div>
    </div>
</div>

<div class="row">
  <div class="col m7 s12">
    <%if(subFilename){ %>
      <img id="sub-view-img" class="materialboxed z-depth-1" src="/<%= subFilename %>">
    <%} else if (subWordCount) { %>
      <pre id="text-submission-view">
        <h5><%= subTitle %><br><small>word count: <%= subWordCount %></small></h5>
        <%= subText %>
      </pre>
    <% } else {%>
      <h5><%= subTitle%></h5>
      <a target="_blank" href="<%= subText%>"><%=subText%></a>
    <%}%>
  </div>
  <div class="col l4 m5 s12">
    <div id="sub-view-info">
      <div class="divider"></div>
      <div id="sub-view-note-label">submitted by <%= subUserName %></div>
      <% if (subNote || subNote !== "") { %>
        <div id="sub-view-note" class="whet-panel-background thin z-depth-1">
          <p><%= subNote %></p>
        </div>
      <% } %>
    </div>
    <div id="sub-view-comments">
      <form id="submit-comment">
        <div class="row margin">
          <div class="input-field col s12">
            <input id="comment" name="comment" placeholder="comment here" required>
          </div>
          <div class="col s12">
            <button class=" upload-button btn waves-effect waves-light"
                    type="submit" name="action">submit comment</button>
          </div>
        </div>
      </form>
      <div id="comments-container">
        <%if (subComments){%>
          <%for(var i = subComments.length - 1; i >= 0; i--){%>
            <div class="comment z-depth-1">
              <p><%=subComments[i].content%></p>
              <small><%=subComments[i].author%> @ <%=subComments[i].date%></small>
            </div>
          <%}%>
        <%}%>
      </div>
    </div>
  </div>
</div>
