<!-- archive/goal end review
  Renew old goals
  See all submissions
  See all people in group
  Not necessarily their submissions, but maybe some stats
  If betting any money, see money lost and paid to group --> 
<!-- style ideas:
  Materialize sidenav -->

<div id="archive-page" class="row">

  <div id="archive-goals-list-panel" class="col m3 s10">
    <!-- display all target user's goals -->
    <div class="row">
      <h5 id="archive-goals-header" class="light"><%= user.username.split('@')[0] %>'s goals</h5>
      <ul id="archive-goals-list" class="collection light">
        <% for (var key in user.currentGoals) { %>
          <% if (key === user.activeGoal) { %>
            <li class="collection-item selected-collection-item"><%= user.currentGoals[key].name %></li>
          <% } else { %>
            <li class="collection-item"><%= user.currentGoals[key].name %></li>
          <% } %>
        <% } %>
      </ul>
    </div>
    <!-- if currentUser is viewing own archive, show button to create new goal -->
    <% if (user.id === currentUser.id) { %>
      <a class="btn whet-btn-1" href="/goal/new">
        new goal
      </a>
    <% } %>
  </div>

  <!-- activeGoal all submissions -->
  <div id="archive-submissions-panel" class="col m9 push-m3 s12">

    <!-- each week -->
    <% for (var i = 0; i < goal.subs[user.id].length; i++) { %>
      <% var weeklySubs = goal.subs[user.id][i] %>

        <!-- change week background based on future, present, past -->
        <% if (i === goal.currentWeek) { %>
          <div class="row archive-week current-week">
        <% } else if (i > goal.currentWeek) { %>
          <div class="row archive-week future-week">
            <div class="future-week-film"></div>
        <% } else { %>
          <div class="row archive-week">
        <% } %>

            <div class="left-column col l2 s2">
              <div class="divider"></div>

              <!-- if this past week isn't empty, and has no portfolio selection, then display a form for selecting -->
              <% if (i < goal.currentWeek && goal.subs[user.id][i].length > 0 && user.currentGoals[goal.id].portfolio[i] === -1) { %>

<!--                 <br>
                  <div style="border: 1px solid blue; background-color: yellow;">
                  <form method="post" action="/archive/savePortSelection">
                    <input type="number" id="portSelect" name="portSelect" placeholder="" min="1" max="<%= goal.subs[user.id][i].length %>" class="validate">
                    <input type="hidden" name="goalSelect" value="<%= goal.id %>">
                    <input type="hidden" name="weekSelect" value="<%= i %>">
                  </form>
                </div> -->

                <div class="archive-week-label thin port-select-toggle-button">
              <% } else { %>
                <div class="archive-week-label thin">
              <% } %>
                  week <%= i + 1 %>
                </div>

            </div>

            <div class="middle-column col s10">
              <div class="row archive-box-row">
                <% for (var j = 0; j < goal.frequency; j++) { %>
                  <!-- submission-box -->
                  <!-- if this sub is the selected portfolio sub for this week, give it a box-shadow -->
                  <% if (user.currentGoals[goal.id].portfolio[i] === j) { %>
                    <div class="archive-portfolio-selection archive-box whet-stone whet-submission-box z-depth-1">
                  <% } else { %>
                    <div class="archive-box whet-stone whet-submission-box z-depth-1">
                  <% } %>

                    <!-- if there is a filled submission in this box, display it -->
                    <% if (weeklySubs[j]) { %>
                      <a href="/submissions/<%= goal.id %>/<%= user.id %>/<%= i %>/<%= j %>">
                        <img class="valign" src="/<%= weeklySubs[j].filename %>">
                      </a>
                    <% } else { %>
                      <div class="empty-submission"></div>
                    <% } %>

                    <!-- end submission-box -->
                    </div>
                <% } %>
                <!-- this "stretch" span is required for even horizontal spacing... or is it? -->
                <span class="stretch"></span>
              </div>
            <!-- end middle-column -->
            </div>
          <!-- end archive-week -->
          </div>
    <% } %>
  <!-- end archive-submissions-panel -->
  </div>
<!-- end archive-page -->
</div>