<!-- archive
  Link to create a new goal
  View old goals
  Renew old goals -->
<!-- Page when goal is over / reviewing past goals (show)
  See all submissions
  See all people in group
  Not necessarily their submissions, but maybe some stats
  If betting any money, see money lost and paid to group --> 
<!--
style ideas:
  Materialize sidenav
-->
<div class="row">
  <div class="col s3">
    <div class="row left-panel-box whet-leftpanel-background z-depth-1">
      <h5 class="light" style="margin-right: 10px;"><%= user.username.split('@')[0] %>'s goals</h5>
      <ul id="archive-goals-list" class="collection light" style="text-align: left">
        <% for (var key in  user.currentGoals) { %>
          <% if (key === user.activeGoal) { %>
            <li class="collection-item selected-collection-item"><%= user.currentGoals[key].name %></li>
          <% } else { %>
            <li class="collection-item"><%= user.currentGoals[key].name %></li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </div>

  <!-- activeGoal all submissions -->
  <div class="col l8 s9">
    <!-- weekly stuffs -->
    <% for (var i = 0; i < goal.subs[user._id].length; i++) { %>
      <% var weeklySubs = goal.subs[user._id][i] %>

      <div class="archive-week row">
        <div class="left-column col l2 s2">
          <span class="thin" style="font-size: 1em; float: right">week <%= i + 1 %></span>
        </div>

        <div class="middle-column col s10">
          <div class="row" style="margin: 0;">
            <% for (var j = 0; j < goal.frequency; j++) { %>
              <div class="archive-box whet-stone z-depth-1">

                <% if (weeklySubs[j]) { %>
                  <img class="valign" src="/<%= weeklySubs[j].filename %>">
                <% } else { %>
                  <div class="empty-submission">
                    <%= j + 1 %>
                  </div>
                <% } %>

              </div>
            <% } %>
          </div>
        </div>
      </div>

    <% } %>
  </div>

</div>