<!-- archive/goal end review
  Renew old goals
  See all submissions
  See all people in group
  Not necessarily their submissions, but maybe some stats
  If betting any money, see money lost and paid to group --> 
<!-- style ideas:
  Materialize sidenav -->

<div id="archive-page" class="row">

  <div id="archive-goals-panel" class="col m3 s10">
    <!-- display all target user's goals -->
    <div class="row">
      <h5 id="archive-goals-header" class="light"><%= user.username.split('@')[0] %>'s goals</h5>
      <ul id="archive-goals-list" class="collection light">
        <% for (var key in  user.currentGoals) { %>
          <% if (key === user.activeGoal) { %>
            <li class="collection-item selected-collection-item"><%= user.currentGoals[key].name %></li>
          <% } else { %>
            <li class="collection-item"><%= user.currentGoals[key].name %></li>
          <% } %>
        <% } %>
      </ul>
    </div>
    <!-- if currentUser is viewing own archive, show button to create new goal -->
    <% if (user.id === currentUser.id) { %>
      <a class="btn whet-btn-1" href="/goal/new">
        new goal
      </a>
    <% } %>
  </div>

  <!-- activeGoal all submissions -->
  <div class="col l9 m9 s12">
    <!-- weekly stuffs -->
    <% for (var i = 0; i < goal.subs[user.id].length; i++) { %>
      <% var weeklySubs = goal.subs[user.id][i] %>
      <div class="row archive-week">
        <div class="left-column col l2 s2">
          <div class="divider"></div>
          <span class="archive-week-label thin">week <%= i + 1 %></span>
        </div>
        <div class="middle-column col s10">
          <div class="row archive-box-row">
            <% for (var j = 0; j < goal.frequency; j++) { %>
              <div class="archive-box whet-stone whet-submission-box z-depth-1">
                <% if (weeklySubs[j]) { %>
                  <a href="/submissions/<%= goal.id %>/<%= user.id %>/<%= i %>/<%= j %>">
                    <img class="valign" src="/<%= weeklySubs[j].filename %>">
                  </a>
                <% } else { %>
                  <div class="empty-submission"></div>
                <% } %>
              </div>
            <% } %>
            <!-- this "stretch" span is required for even horizontal spacing -->
            <span class="stretch"></span>
          </div>
        </div>
      </div>
    <% } %>
  </div>

</div>