<!-- archive
  Link to create a new goal
  View old goals
  Renew old goals -->
<!-- Page when goal is over / reviewing past goals (show)
  See all submissions
  See all people in group
  Not necessarily their submissions, but maybe some stats
  If betting any money, see money lost and paid to group --> 
<!--
style ideas:
  Materialize sidenav
-->
<h3 hidden>archive view</h3>
<div class="row">
  <div id="archive-goals-menu" class="col s2 ">
    <h6>all <%= user.username.split('@')[0] %>'s goals</h6>

    <ul class="collection">
      <% for (var key in  user.currentGoals) { %>
        <!-- if this goal key === user.activeGoal, display li as 'selected' (different color) -->
        <li class="collection-item"><%= user.currentGoals[key].name %></li>
      <% } %>
    </ul>
  </div>

  <!-- activeGoal all submissions -->
  <div class="col s7">
    <!-- weekly stuffs -->
    <% for (var i = 0; i < 2; i++) { %>
      <div class="archive-week row">

        <div class="left-column col s2">
          week <%= i %>
        </div>

        <div class="middle-column col s10">
          <div class="row">
            <% for (var j = 0; j < goal.frequency; j++) { %>
              <div class="archive-box whet-stone z-depth-1">
                <% var weeklySubs = goal.subs[user._id] %>
                <% if (weeklySubs[j]) { %>
                  <img class="valign" src="/<%= weeklySubs[j].filename %>">
                <% } else { %>
                  <div class="empty-submission">
                    <%= j + 1 %>
                  </div>
                <% } %>
              </div>
            <% } %>
          </div>
          <div class="divider"></div>
        </div>

      </div>
    <% } %>
  </div>

  <!-- activeGoal all submissions -->
  <div class="col s3" style="height: 300px; border: 1px solid blue">
  </div>
</div>