<div class="row">

  <!-- left column -->
  <div class="col m3 s12">

    <!-- goal info -->
    <div class="row z-depth-1">
      <div class="col m12 s12 right-align whet-leftpanel-background">
        <h5 class="light"><%= goal.name %></h5>
        <p class="light">
          <!-- week <%= goal.currentWeek + 1 %> of <%= goal.duration %><br> -->
          <!-- content type: <%= goal.contentType %><br> -->
          <%= weeklySubs.length %> of <%= goal.frequency %> submissions made this week<br>
          week starts on <%= dayName %><br>
          pot size: $<%= goal.pot %>
        </p>
      </div>
    </div>

    <!-- upload box -->
    <div class="row z-depth-1">
      <div id="upload-box" class="col m12 s12 right-align whet-leftpanel-background">
        <% if (currentUser.currentGoals[currentUser.activeGoal].submitted_today) { %>
          <h6>you uploaded for this goal today.<br>good job!</h6>
        <% } else { %>
          <form action="/submissions/upload" enctype="multipart/form-data" method="post">
            <h5 class="light">upload</h5>
            <div class="row">

              <!-- File chooser -->
              <div class="file-field input-field col m5 s12">
                <!-- Chosen file path - TODO: change appearance, or make 'choose file' button change if this path is filled -->
                <div class="file-path-wrapper">
                  <input required class="file-path validate" placeholder="Submission" type="text">
                </div>
                <!-- File chooser button -->
                <div class="btn upload-button " style="width: 100%">
                  <span>choose file</span>
                  <input required type="file" name="submission" accept="<%=goal.contentType%>/*" class="validate">
                </div>

              </div>
            </div>
            <!-- User note field -->
            <!--<div class="row">-->
              <div class="input-field s12">
                <!--<i class="material-icons prefix">label</i>-->
                <input id="icon_prefix" placeholder="Write a note"  type="text" name="note" class="validate">
              </div>
            <!--</div>-->
            <!-- Submit button -->
            <div class="col s12">
              <button class=" upload-button btn waves-effect waves-light" type="submit"
                      id="submit-button" name="action">
                <i class="material-icons">send</i>
              </button>
            </div>

          </form>
        <% } %>

      </div>
    </div>
    <!-- End of upload box -->

  </div>

  <!-- middle column -->
  <div class="middle-column col m6 s12 center-align">
    <h5 class="light left-align" style="margin-top: 0; margin-left: 20px">week <%= goal.currentWeek + 1 %></h5>

    <div class="row">
      <% for (var i = 0; i < goal.frequency; i++) { %>
        <div class="submission-box whet-stone whet-submission-box z-depth-1">
          <% if (weeklySubs[i]) { %>
            <a href="/submissions/<%= goal._id %>/<%= user._id %>/<%= goal.currentWeek %>/<%= i %>">
              <img class="valign" src="/<%= weeklySubs[i].filename %>">
            </a>
          <% } else { %>
            <div class="empty-submission">
              <p>#<%= i + 1 %></p>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>

  </div>

  <!-- right column -->
  <div class="col m3 s12 ">
    <ul class="collapsible" data-collapsible="accordion">

      <% for (var i = 0; i < friendStatus.length; i++) { %>
        <li>

          <!-- if user is current user, expand and add buttons -->

          <!-- TODO: figure out why below logic isn't working -->
          <% console.log(friendStatus[i][3]); %>
          <% console.log(currentUser.id); %>
          <% console.log(currentUser.id === friendStatus[i][3]); %>
            <!-- returning false... -->

          <% if (friendStatus[i][3] === currentUser.id) { %>
            <div class="collapsible-header active"><%= friendStatus[i][0] %>
              <% if (friendStatus[i][1]) { %>
                <span class="badge new">1</span>
              <% } %>
            </div>
            <div class="collapsible-body">
              <p>(<%= friendStatus[i][2] %>/<%= goal.frequency %>) this week</p>
              <a href="/dashboard" class="btn">dashboard</a>
              <a href="/archive" class="btn">archive</a>
            </div>

          <!-- else, make a standard li with no buttons -->
          <!-- TODO: add buttons to direct to other group members' dashboard and archive -->
          <% } else { %>
            <div class="collapsible-header"><%= friendStatus[i][0] %>
              <% if (friendStatus[i][1]) { %>
                <span class="badge new">1</span>
              <% } %>
            </div>
            <div class="collapsible-body">
              <p>(<%= friendStatus[i][2] %>/<%= goal.frequency %>) this week</p>
            </div>
          <% } %>
          
        </li>
      <% } %>

    </ul>
  </div>

</div>