<!-- Group features
  Be able to comment on my submission
  Able to be commented on by group    
  View my submissions
  Notifications of group
  View group submissions, or able to click to get to a specific group member
-->

<div class="row">

  <!-- left column -->
  <div class="col m3 s12">

    <!-- goal info -->
    <div class="row z-depth-1">
      <div class="col m12 s12 left-panel-box whet-leftpanel-background">
        <h5 class="light"><%= goal.name %></h5>
        <p class="light">week <%= goal.currentWeek + 1 %> of <%= goal.duration %><br>
          content type: <%= goal.contentType %><br>
          <%= weeklySubs.length %> of <%= goal.frequency %> submissions made this week<br>
          week starts on <%= dayName %><br>
          members: <%= goal.members.length %><br>
          pot size: <%= goal.pot%>
        </p>
      </div>
    </div>

    <!-- upload box -->
    <div class="row z-depth-1">
      <div id="upload-box" class="col m12 s12 left-panel-box whet-leftpanel-background">

        <% if (currentUser.currentGoals[currentUser.activeGoal].submitted_today) { %>
          <h6>you uploaded for this goal today.<br>good job!</h6>

        <% } else { %>
          <form action="/submissions/upload" enctype="multipart/form-data" method="post">
            <h5 class="light">upload</h5>
            <div class="row">

              <!-- File chooser -->
              <div class="file-field input-field col m5 s12">
                <!-- Chosen file path - TODO: change appearance, or make 'choose file' button change if this path is filled -->
                <div class="file-path-wrapper">
                  <input required class="file-path validate" placeholder="Submission" type="text">
                </div>
                <!-- File chooser button -->
                <div class="btn upload-button whet-btn-1 " style="width: 100%">
                  <span>choose file</span>
                  <input required type="file" name="submission" accept="<%=goal.contentType%>/*" class="validate">
                </div>

              </div>
            </div>
            <!-- User note field -->
            <!--<div class="row">-->
              <div class="input-field s12">
                <!--<i class="material-icons prefix">label</i>-->
                <input id="icon_prefix" placeholder="Write a note"  type="text" name="note" class="validate">
              </div>
            <!--</div>-->
            <!-- Submit button -->
            <div class="col s12">
              <button class="whet-btn-1 upload-button btn waves-effect waves-light" type="submit"
                      id="submit-button" name="action">
                <i class="material-icons">send</i>
              </button>
            </div>

          </form>
        <% } %>

      </div>
    </div>
    <!-- End of upload box -->

  </div>

  <!-- middle column -->
  <div class="middle-column col m6 s12">
    <h5 class="light center-align" style="margin-top: 0">week <%= goal.currentWeek + 1 %></h5>

    <div class="row">
    <% for (var i = 0; i < goal.frequency; i++) { %>

      <div class="submission-box whet-stone z-depth-1">
      <% if (weeklySubs[i]) { %>
        <img class="valign" src="/<%= weeklySubs[i].filename %>">
      <% } else { %>
        <div class="empty-submission center-align">
          #<%= i + 1 %>
        </div>
      <% } %>
      </div>
    <% } %>
    </div>

  </div>

  <!-- right column -->
  <div class="col m3 s12">
    <ul class="collection">
      <% for (var i = 0; i < friendStatus.length; i++) {%>
      <li class="collection-item"><%= friendStatus[i][0]%>
        <% if (friendStatus[i][1]){%>
        <span class="badge new">1</span>
        <%}%>
      </li>
      <%}%>
    </ul>
  </div>

</div>