<div class="row">

  <!-- left column -->
  <div class="col m3 s12">

    <!-- goal info -->
    <div class="row z-depth-1">
      <div class="col m12 s12 right-align whet-leftpanel-background">
        <h5 class="light"><%= goal.name %></h5>
        <p class="light">
          <!-- week <%= goal.currentWeek + 1 %> of <%= goal.duration %><br> -->
          <!-- content type: <%= goal.contentType %><br> -->
          <%= weeklySubs.length %> of <%= goal.frequency %> submissions made this week<br>
          week starts on <%= dayName %><br>
          pot size: $<%= goal.pot %>
        </p>
      </div>
    </div>

    <!-- upload box -->
    <%if(goal.contentType.indexOf('image') !== -1) {%>
      <%include ./partials/upload %>
    <%} else if (goal.contentType.indexOf('text') !== -1){ %>
      <%include ./partials/textupload %>
    <%} else {%>
      <%include ./partials/textupload %>
    <%}%>
    <!-- End of upload box -->
  </div>

  <!-- middle column -->
  <div class="middle-column col m6 s12 center-align">
    <h5 class="light left-align" style="margin-top: 0;">week <%= goal.currentWeek + 1 %></h5>

    <div class="row">
      <% for (var i = 0; i < goal.frequency; i++) { %>
        <div class="submission-box whet-stone whet-submission-box z-depth-1">
          <% if (weeklySubs[i]) { %>
            <a href="/submissions/<%= goal._id %>/<%= user._id %>/<%= goal.currentWeek %>/<%= i %>">
              <%if(goal.contentType.indexOf('image') != -1) {%>
                <img class="valign" src="/<%= weeklySubs[i].filename %>">
              <%} else {%>
                <div class="valign" id="text-view-div">
                  <p class="thin">
                    <%=weeklySubs[i].title%>
                    <br><small><%=weeklySubs[i].wordCount%></small>
                  </p>
                </div>
              <%}%>
            </a>
          <% } else { %>
            <div class="empty-submission">
              <p>#<%= i + 1 %></p>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>

  </div>

  <!-- right column -->
  <div class="col m3 s12 ">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="dash-menu-header collapsible-header">
          <strong>goal members</strong>
        </div>
      </li>

      <!-- Display the current user's menu item, with body open -->
      <li>
        <div class="dash-menu-header collapsible-header active"><%= friendStatus[0].name %>
          <small>(<%= friendStatus[0].weeklyProgress %>/<%= goal.frequency %>) this week</small>
          <% if (friendStatus[0].submittedToday) { %>
            <span class="dash-menu-badge badge">
              <span class="dash-menu-badge-content thin">new</span>
            </span>
          <% } %>
        </div>
        <div class="collapsible-body">
          <!--<p>(<%= friendStatus[0].weeklyProgress %>/<%= goal.frequency %>) this week</p>-->
          <!--<a href="/dashboard" class="btn dash-btn">dashboard</a>-->
          <a href="/archive" class="btn dash-btn">archive</a>
          <a href="/portfolio/<%= currentUser.name %>" class="btn dash-btn">portfolio</a>
        </div>
      </li>

      <% if (friendStatus.length > 1) { %>
        <!-- For other goal members, display a closed menu item -->
        <% for (var i = 1; i < friendStatus.length; i++) { %>
          <li>
            <div class="dash-menu-header collapsible-header"><%= friendStatus[i].name %>
              <small>(<%= friendStatus[i].weeklyProgress %>/<%= goal.frequency %>) this week</small>
              <% if (friendStatus[i].submittedToday) { %>
                <span class="dash-menu-badge badge">
                  <span class="dash-menu-badge-content thin">new</span>
                </span>
              <% } %>
            </div>
            <div class="collapsible-body">
              <!--<p>(<%= friendStatus[i].weeklyProgress %>/<%= goal.frequency %>) this week</p>-->
              <a href="/archive/<%= friendStatus[i].friendId %>" class="btn dash-btn">archive</a>
              <a href="/portfolio/<%= friendStatus[i].name %>" class="btn dash-btn">portfolio</a>
            </div>
          </li>
        <% } %>
      <% } %>

    </ul>
  </div>

</div>
