<!--
Goal dashboard
See progress/upcoming goal/checkpoint
Be able to submit
Be able to comment on my submission
Able to be commented on by group    
View my submissions
Notifications of group
View group submissions, or able to click to get to a specific group member
-->

<div class="row">

  <!-- left column -->
  <div class="col m3">

    <!-- goal info -->
    <div class="row">
      <div class="col m12 left-panel-box whet-leftpanel-background">
        <h5 class="light"><%= goal.name %></h5>
        <p class="light">week <%= goal.currentWeek + 1 %> of <%= goal.duration %><br>
          content type: <%= goal.contentType %><br>
          <%= weeklySubs.length %> of <%= goal.frequency %> submissions made this week</br>
          members: <%= goal.members.length %>
        </p>
      </div>
    </div>

    <!-- upload box -->
    <div class="row">
      <div id="upload-box" class="col m12 left-panel-box whet-leftpanel-background">

        <% if (currentUser.currentGoals[currentUser.activeGoal].submitted_today) { %>
          <h6>you uploaded for this goal today.<br>good job!</h6>

        <% } else { %>
          <form action="/submissions/upload" enctype="multipart/form-data" method="post">
            <h5 class="light">upload</h5>
            <div class="row">

              <!-- File chooser -->
              <div class="file-field input-field col m5">
                <!-- Chosen file path - TODO: change appearance, or make 'choose file' button change if this path is filled -->
                <div class="file-path-wrapper">
                  <input required class="file-path validate" placeholder="Submission" type="text">
                </div>
                <!-- File chooser button -->
                <div class="btn upload-button whet-btn-1" style="width: 100%">
                  <span>choose file</span>
                  <input required type="file" name="submission" accept="<%=goal.contentType%>/*" class="validate">
                </div>

              </div>
            </div>
            <!-- User note field -->
            <!--<div class="row">-->
              <div class="input-field s12">
                <!--<i class="material-icons prefix">label</i>-->
                <input id="icon_prefix" placeholder="Write a note"  type="text" name="note" class="validate">
              </div>
            <!--</div>-->
            <!-- Submit button -->
            <div class="col s12">
              <button class="whet-btn-1 upload-button btn waves-effect waves-light" type="submit"
                      id="submit-button" name="action">
                <i class="material-icons">send</i>
              </button>
            </div>


          </form>
        <% } %>

      </div>
    </div>
    <!-- End of upload box -->

  </div>

  <!-- middle column -->
  <div class="col m6" style="position: relative; top: -8px;">

    <!-- row of 3 placeholders -->
    <div class="row">
      <div class="col m4 s12">
        <div class="card whet-card-background">
          <div class="card-content">
            <span class="card-title">January 30th, 2016</span>
            <p>503 Words</p>
          </div>
          <div class="card-action">
            <a href="#">View</a>
            <a href="#">Share</a>
          </div>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="card whet-card-background ">
          <div class="card-content">
            <span class="card-title">January 31th, 2016</span>
            <p>515 Words</p>
          </div>
          <div class="card-action">
            <a href="#">View</a>
            <a href="#">Share</a>
          </div>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="card whet-card-background ">
          <div class="card-content">
            <span class="card-title">February 01, 2016</span>
            <p>639 Words</p>
          </div>
          <div class="card-action">
            <a href="#">View</a>
            <a href="#">Share</a>
          </div>
        </div>
      </div>
    </div>

    <!-- row of 2 placeholders -->
    <div class="row">
      <div class="col m4 s12">
        <div class="card whet-card-background ">
          <div class="card-content">
            <span class="card-title">January 30th, 2016</span>
            <p>503 Words</p>
          </div>
          <div class="card-action">
            <a href="#">View</a>
            <a href="#">Share</a>
          </div>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="card whet-card-background ">
          <div class="card-content">
            <span class="card-title">January 31th, 2016</span>
            <p>515 Words</p>
          </div>
          <div class="card-action">
            <a href="#">View</a>
            <a href="#">Share</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<!-- Box for data testing -->
<div hidden class="row" style="margin-top: 20%; border: 2px solid black">
  <h5>DATAMONSTER</h5>

  <!-- <div class="divider"></div> -->

  <% for (var i = 0; i < weeklySubs.length; i++) { %>
  <div>
    sub #<%= i %><br>
    filename: <%= weeklySubs[i].filename %><br>
    <div class="img-container valign-wrapper">
      <img class="valign" src="/<%= weeklySubs[i].filename %>">
    </div>
  </div>
  <% } %>

</div>
